@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html,
body {
    margin: 0%;
    zoom: 95%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /* theme colors */
    --darkblue: #14279B;
    --bluegray: #3D56B2;
    --blue: #5C7AEA;
    --grey: #E6E6E6;
    --white: #FFFFFF;
    /* theme font-family */
    --Poppin: 'Poppins', sans-serif;
}


/* global style start */

* {
    font-family: var(--Poppin);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    margin: 0 5vw;
}

/* global style end */


/* navbar start */

.nav {
    background: var(--darkblue);
    padding: 0 2rem;
    min-height: 8vh;
    /*Ini Set Property Control*/
    overflow: visible;
    transition: height 1s ease-in-out;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 1;
}

.nav a {
    text-decoration: none;
    color: var(--white)
}

.nav ul {
    list-style-type: none;
}

nav.sticky {
    background-color: var(--darkblue);
    opacity: 0.9;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--white);
}

.collapse {
    height: 15rem;
}

.nav .nav-items {
    display: flex;
    margin: 0 80px;
}

.nav .nav-items .nav-link {
    padding: 1.2rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Poppin);
}


/* 
.nav .nav-items .nav-link:hover {
    background-color: var(--grey);
}

.nav .nav-items .nav-link:hover a{
    color: var(--darkblue);
} */

.nav .nav-brand a {
    font-size: 1.5rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Poppin);
}


/* create notif start */


.dropbtn .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 2px 4px;
    border-radius: 100%;
    background-color: red;
    color: white;
    font-size: 10px;
  }
/* notif end */


/* create dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 1px;
    margin-left: -50px;
    margin-bottom: 0px;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.966);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #5c7bea8a;
    z-index: 1;
}

.dropdown-content.notif {
    width: 200px;
}

.dropdown-content.acc {
    width: 150px;
}

.dropdown-content a {
    color: black;
    font-family: var(--Poppin);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .notip{
    float: right;
}

.dropdown-content li{
    padding-bottom: 300px;
}

.dropdown-content .notipBot{
    text-align: center;
    color: var(--darkblue);
    padding-bottom: 12px;
    margin-top: 2px;
    border: 1px solid #14279B;
    border-bottom: 0;border-left: 0;
}

.dropdown-content h4{
    padding-bottom: 15px;
    margin-top: 12px;
    border: 1px solid #14279B;
    border-top: 0;border-left: 0;
}

.dropdown-content a:hover {
    background-color: #14279B;
    color: var(--white);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--blue);
    border-radius: 50px;
}

/* end dropdown */


/* navbar end */


/* dashboard start */

#dashboard {
    height: 100vh;
    display: flex;
    background-color: var(--white);
}


/* dashboard end */


/* main start */

#main {
    padding-top: 50px;
}

#main .column-left {
    float: left;
    width: 15%;
    padding: 15px 20px;
    background-color: var(--blue);
    height: 150vh;
    color: var(--white);
}

hr {
    background-color: var(--white);
}

#main .column-left .sidebar div {
    padding: 10px;
}

#main .column-right {
    color: #3D56B2;
    float: right;
    width: 80%;
    padding: 15px;
    height: 100vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#main a {
    text-decoration: none;
    color: var(--white);
}

#main ul {
    list-style-type: none;
}

#main .sidebar .sidebar-link:hover {
    background-color: var(--grey);
    opacity: 80%;
}

#main .sidebar .sidebar-link:hover a {
    color: var(--darkblue);
}


/* @media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
} */