:root {
    /* theme colors */
    --darkblue: #14279B;
    --bluegray: #3D56B2;
    --blue: #5C7AEA;
    --grey: #E6E6E6;
    --white: #FFFFFF;
    /* theme font-family */
    --Poppin: 'Poppins', sans-serif;
}

/*Login start*/
.login {
    background-color: var(--blue);
    width: 20%;
    margin: 150px;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px 35px 50px 35px;
    display: block;
    border-radius: 5px;
}

.login h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding:0;
}

.login input {
    padding: 5px;
    width: 95%;
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    text-align: left;
}

.login button {
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    background-color: var(--darkblue);
    border-style: none;
    color: white;
    cursor: pointer;
}

/* Login end */

/*Dashboard start*/

/* Reni edit start */
#main .dashboard .column-task {
    float: left;
    width: 62%;
    padding: 10px;
    height: 300px;
}

#main .dashboard .column-todo {
    float: right;
    width: 16%;
    padding: 20px 15px;
    height: 148.5vh;
    background-color: var(--bluegray);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#main .Todo h2 {
    color: white;
    text-align: center;
}

#main .row .Todo ol {
    color: white;
    /* font-weight: bold; */
    font-size: 15px;
    padding: 0 20px;
}

#main .row .Todo li{
    color: white;
}



#main .Task {
    display: inline-block;
    text-indent: 10px;
    margin: 50px 50px 20px 50px;
    padding: 15px;
    text-align: left;
    background-color: bisque;
    line-height: 10px;
    align-content: center;
    display: block;
}

.dashboard .column-task .row .column {
    display: block;
    width: 40%;
    background-color: var(--bluegray);
    color: var(--white);
    margin: 30px;
    
}

.dashboard .column-task .row {
    display: flex;
    justify-content: center;
}

.dashboard .column-task .row .column img {
    width: 82%;
    margin: 30px 30px 0 30px;
}

.dashboard .column-task .row .column h4 {
    margin: 10px 30px;
}

.dashboard .column-task .row .column .box {
    background-color: var(--grey);
    width: 82%;
    height: 10px;
    margin: 0 30px;
}

.dashboard .column-task .row .column .inside-box {
    background-color: #FFC947;
    width: 50%;
    height: 10px;
}

.dashboard .column-task .row .column p {
    margin: 10px 30px;
    font-size: 14px;
}

#main .dashboard .column-task .pagination {
    margin-top: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
}

#main .dashboard .column-task .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#main .dashboard .column-task .pagination a.active {
    background-color: var(--darkblue);
    color: white;
    border-radius: 5px;
}

#main .dashboard .column-task .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
#main .dashboard h3{
    color: #3D56B2;
}

/* Reni edit end */

/* Dashboard end */

/*Discussion*/

.waktu {
    float: right;
    color: darkblue;
    padding: 20px 50px;
}

.disc h1 {
    text-align: left;
    color: darkblue;
    line-height: 60px;
    text-indent: 35px;
}

#discussion .right-content {
    float: right;
    width: 25%;
    height: 550px;
    /*margin-right: 10%;
    margin-top: 3.5%;*/
    margin: 8px 50px 20px 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.right-content .Chat {
    float: left;
    margin-left: 20px;
    color: var(--bluegray);
}

.right-content .hide {
    float: right;
    padding: 20px 20px;
}

.right-content .kirim {
    margin: 10px 10px 20px 20px;
}

.right-content .kirim textarea{
    border-style: none;
}

.right-content .kirim button {
    float: right;
    width: 15%;
    margin-right: 3%;
    color: white;
    border-style: none;
    border-radius: 10px;
    background-color: var(--darkblue);
    cursor: pointer;
}

.right-content .garis .garis-1 {
    margin-top: 50px;
    width: 400px;
    height: 1px;
    border-style: none;
    background-color: black;
}

.right-content .garis .garis-2 {
    width: 400px;
    height: 1px;
    margin-top: 420px;
    border-style: none;
    background-color: black;
}

#discussion .left-content {
    float: left;
    background-color: var(--blue);
    padding: 100px;
    margin: 20px 0 20px 60px;
    height: 350px;
    width: 50%;
    border-radius: 10px;
    border-width: 1px;
    display: flex;
    position: relative;
}

.left-content .item1>div {
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 100px;
    color: var(--darkblue);
    font-weight: bold;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 70px;
}

.left-content .item2>div {
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 100px;
    color: var(--darkblue);
    font-weight: bold;
    flex-direction: column;
    margin-right: 70px;
    margin-left: 15px;
}

.left-content .item {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
}

.left-content .item button {
    width: 40%;
    padding: 60px;
    margin: 10px;
    border-radius: 40px;
    border: 1px solid var(--darkblue);
    background-color: var(--white);
    font-size: 30px;
    color: var(--darkblue);
    font-weight: bold;
    cursor: pointer;
}

/* Discussion end */

/* @media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
} */