:root {
    /* theme colors */
    --darkblue: #14279B;
    --bluegray: #3D56B2;
    --blue: #5C7AEA;
    --grey: #E6E6E6;
    --white: #FFFFFF;
    /* theme font-family */
    --Poppin: 'Poppins', sans-serif;
}

/* Ini CSS MyCourse(All) */

.Courses{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    padding-right: 55px;
    text-align: center;
    margin-bottom: -10px;
}

.Courses h1{
    margin-left: 55px;
    text-align: left;
    font-size: xx-large;
    color: #3D56B2;
    margin-bottom: 10px;
}


.Courses li{
    margin-left: 360px;
}
.Courses li a{
    display: flex;
    flex-direction: column;
    float: left;
    border:none;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 120px;
}


#main .Courses a{
    cursor: pointer;
    padding-right: 10px;
    color: #3D56B2;
}

/*INI PUNYANYA FRM*/
#main .Courses .frm a{
    background-color: #5C7AEA;
    color: var(--white);
    margin-left: 80px;
}
#main .Courses .clW a{
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
    margin-left: 20px;
}

/*INI PUNYANYA CLW*/
#main .Courses .frm2 a{
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
    margin-left: 80px;
}
#main .Courses .clW2 a{
    background-color: #5C7AEA;
    color: var(--white);
    margin-left: 20px;
}

#main .Courses li a:hover{
    transition-duration: 0.4s;
    background-color: #5c7beae7;
    color: var(--white);
}
/*end*/
/*Start Content Of Forum and Clw*/
.task{
    display: block;
    padding: 3px;
    padding-left: 305px;
    padding-right: 59px;
}
#main .task a{
    color: black;
    padding: 0px;
}
.box {
    background-color: var(--white);
    border-radius: 50px;
    border: 1px solid #5C7AEA;
    padding: 1px;
    padding-left: 10px;
    color: black;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 15px;
    cursor: pointer;
    width: auto;
  }
.box:hover{
    background-color: #3d56b213;
    transform: scale(1.005);
}
.box1 {
    margin-bottom: 15px;
    float: left;
    padding: 17px;
    padding-top: 22px;
    color: #3D56B2;
    border-right: 0px;
    width: auto;
    
}
#main .task p{
    font-size: 12px;
    color: rgba(255, 0, 0, 0.774);
}
#main .task h3{
    padding: 0px;
    padding-bottom: 3px;
    font-size: 15px;
}
/*end*/
/*INI PUNYANYA MyCourse UPLOAD*/
.task .box2 {
    float: inline-start;
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid #5C7AEA;
    padding-right: 30px;
    color: black;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

.task .box2 .upload {
    text-align: center;
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid #14279B;
    border-style: dashed;
    padding: 1px;
    padding-right: 50px;
    color: rgba(0, 0, 0, 0.699);
    font-size: 13px;
    margin: 4px;
    margin-top: -20px;
    margin-left: 30px;
    width: auto;
    height: auto;
}
.box2 li{
    padding: 5px;
    padding-top: 2px;
    margin-top: -10px;
    margin-left: -10px;
}

.comment3{
    margin-right: -65px;
}



.box2 li p{
    padding: 5px;
    margin-top: -10px;
}

#main .task .box2 p{
    font-size: small;
    color: rgba(0, 0, 0, 0.774);
}

.button {
    color: white;
    border-radius: 20px;
    padding: 5;
    text-align: center;
    display: flex;
    font-size: 16px;
    margin: 20px 0px 20px 0px;
    margin-left: auto;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button2 {
    background-color: white; 
    color: black; 
    border: 1px solid #14279B;
  }
  
.button2:hover {
    background-color: #5C7AEA;
    color: white;
  }

/*Ini Punyanya New Material*/

.box3{
    background-color: var(--white);
    border-radius: 50px;
    border: 1px solid #5C7AEA;
    padding: 1px;
    padding-left: 30px;
    color: black;
    font-size: 16px;
    margin: auto;
    margin-left: 365px;
    margin-right: 105px;
    width: auto;
    height: 850px;
}
.Courses .allJudul{
    display: flex;
    text-align: left;
    padding-left: 80px;
    margin-bottom: 20px;
    margin-top: -10px;
}
.Courses .judul2{
    color: red;
}

.allMaterial{
    display: flex;
    float: left;
    padding-right: 1000px;
    margin: 10px;
}

.box3 h3, .box3 p{
    color: #070707;
    margin-left: 15px;
}
.box3 .material{
    border-style: groove;
    background-color: #5c7bea10;
    border-right: 0;
    padding: 2px;
    padding-left: 7px;
    padding-top: 7px;
    border-radius: 20px 0px 0px 20px;
}
.box3 .material2{ 
    border-style: groove;
    background-color: #5c7bea10;
    border-left: 0;
    width: 230px;
    padding: 2px;
    padding-top: 7px;
    padding-left: 13px;
    padding-right: 20px;
    border-radius: 0px 20px 20px 0px;
}
.material2 p{
    margin-top: -15px;
}
.material2 h4{
    padding-left: 15px;
}
/*End of New Material*/
/* Ini CSS MyCourse(All) END */

/*Add Cooment and JS Confirm*/
.chat{
    display: inline-flex;
    float: right;
    padding: 10px;
}

.chat2{
    display: inline-flex;
    float: left;

}

#toggle, #toggle2{
    margin-left: 15px;
}
#mytext, #mytext2{
    padding-top: 2px;
}
#mytext2, #toggle2{
    padding-bottom: 15px;
}

.comment2{
    border-style: groove;
    border-radius: 20px;
}

.comment2 .tab{
    width: 600px;
    padding-left: 8px;
}

table{
    margin-top: -15px;
}
input{
    border-radius: 20px;
    padding: 0.375rem 0.9375rem 0.375rem;
    padding-top: 5px;
    width: 510px;
}

#myfile{
    color: red;
    cursor: pointer;
    margin-right: -295px;
}



.comment2 .icn{
    margin-right: 20px;
    margin-left: 30px;
}
#usr{
    color: #14279B;
    margin-left: 8px;
}
/*End of Add Cooment and JS Confirm*/

/* Add DL Time */
.boxTime{
    margin-bottom: 15px;
    float: right;
    padding: 17px;
    margin-right: 20px;
    margin-top: -120px;
    border-right: 0px;
    width: auto;
}

#countdownPw, #countdownPbd, #countdownAi{
    padding-left: 5px;
    font-weight: bold;
}

#main .boxTime #countdownPw2{
    font-size: 13px;
}
/* End of Add DL Time */