:root {
    /* theme colors */
    --darkblue: #14279B;
    --bluegray: #3D56B2;
    --blue: #5C7AEA;
    --grey: #E6E6E6;
    --white: #FFFFFF;

    /* theme font-family */
    --Poppin: 'Poppins', sans-serif;
}

/* main end */

/* Ini CSS MyTask(All) */

.Task,
.showTask{
    display: flex;
    flex-direction: column;
    padding-left: -30px;
    padding-right: 20px;
    text-align: center;
    
}

.Task h1,
.showTask h1{
    margin-left: 45px;
    text-align: left;
    font-size: xx-large;
    color: #3D56B2;
    margin-bottom: 0;
}

.Task li{
    padding-left: 360px;
}
.Task a{
    border:none;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    flex-grow: inherit;
    flex-direction: row;
    font-size: 16px;
    margin:0 2px;
    cursor: pointer;
    width: 150px;
    float: left;
}

/*INI WARNA BUTTON*/
#main .Task a{
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
}
#main .Task .assign a{
    background-color: #5C7AEA;
    color: var(--white);
}

#main .Task .missing2 a{
    background-color: #5C7AEA;
    color: var(--white);
}
#main .Task .done3 a{
    background-color: #5C7AEA;
    color: var(--white);
}

#main .showTask p{
    text-align: left; 
    margin-left: 70px;
}

/*end*/
.task{
    display: block;
    flex-grow: inherit;
    padding: 3px;
    padding-left: 305px;
    padding-right: 59px;
}
#main .task a{
    color: black;
    padding: 0px;
}
.box {
    background-color: var(--white);
    border-radius: 50px;
    border: 1px solid #5C7AEA;
    padding: 1px;
    padding-left: 60px;
    color: black;
    font-size: 16px;
    margin: 28px 2px;
    cursor: pointer;
    width: auto;
  }

.box1 {
    float:right;
    padding: auto;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 50%;
    color: #3D56B2;
    border-right: 0px;
    width: auto;
    
}


.box3{
    background-color: #BE0000;
    border-radius: 50px;
    border: 1px solid #5C7AEA;
    padding: 1px;
    padding-left: 60px;
    color: black;
    font-size: 16px;
    margin: 28px 2px;
    cursor: pointer;
    width: auto;
}

.box4{
    float: right;
    padding:20px;
    padding-top: 48px;
    border-radius: 50%;
    color: #ffffff;
    border-right: 0px;
    width: auto;
}
.box5 {
    float:right;
    padding: auto;
    padding-top: 40px; 
    padding-right: 20px;
    border-radius: 50%;
    color: #3D56B2;
    border-right: 0px;
    width: auto;
    
}
.box6 {
    float:right;
    padding: auto;
    padding-top: 70px;
    padding-right: 20px;
    border-radius: 50%;
    color: #3D56B2;
    border-right: 0px;
    width: auto;
    
}
.box7 {
    float:right;
    padding: auto;
    padding-top: 45px;
    padding-right: 20px;
    border-radius: 50%;
    color: #3D56B2;
    border-right: 0px;
    width: auto;
    
}



#main .task p{
    font-size: small;
    color: rgba(0, 0, 0, 0.774);
}


