/*Login start*/

.login {
    background-color: var(--blue);
    width: 20%;
    margin: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 35px;
    display: block;
    border-radius: 5px;
}

.login h2 {
    text-align: center;
    color: white;
}

.login input {
    padding: 5px;
    width: 95%;
    border-radius: 3px;
    border-style: none;
    padding: 5px;
    text-align: left;
}

.login button {
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    background-color: var(--darkblue);
    border-style: none;
    color: white;
}
/* Login end */

/*Dashboard start*/

#main .Todo {
    float: right;
    width: 12%;
    padding: 20px 15px;
    background-color: var(--blue);
    height: 138vh;
}

#main .Task {
    display: inline-block;
    text-indent: 10px;
    margin: 50px;
    width: 56%;
    padding: 15px;
    text-align: left;
    background-color: bisque;
    line-height: 10px;
}

#main .Todo h2 {
    color: white;
}

#main .row .Todo p {
    color: black;
    font-weight: bold;
    font-size: smaller;
}

.Allbox-1 {
    margin-left: 110px;
    width: 100%;
    height: auto;
}

.Allbox-2 {
    margin-top: -630px;
    margin-right: 20px;
    margin-left: 380px;
    width: 100%;
    height: auto;
}

.kotak {
    background-color: var(--bluegray);
    margin-left: 22%;
    margin-top: 20px;
    width: 20%;
    height: 190px;
}

#item-1 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--white);
    width: 83%;
    height: 100px;
}

#item-2 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--white);
    width: 83%;
    height: 100px;
}

#item-3 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--white);
    width: 83%;
    height: 100px;
}

#item-4 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--white);
    width: 83%;
    height: 100px;
}

#item-5 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--white);
    width: 83%;
    height: 100px;
}

#item-6 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--white);
    width: 83%;
    height: 100px;
}

.kotak p {
    color: var(--white);
    font-size: smaller;
    padding: 90px 0;
}

.kotak1 p {
    color: var(--white);
    font-size: smaller;
    padding: 90px 0;
}

.progress {
    background-color: var(--white);
    margin-left: 20px;
    height: 15px;
    width: 83%;
}


.progress .load {
    background-color: orange;
    height: 15px;
    width: 60%;
}
/* Dashboard end */

/*Discussion*/

.waktu {
    float: right;
    color: darkblue;
    padding: 20px 50px;
}

.disc h1 {
    text-align: left;
    color: darkblue;
    line-height: 60px;
    text-indent: 35px;
}

.right-content {
    float: right;
    width: 35%;
    height: 405px;
    /*margin-right: 10%;
    margin-top: 3.5%;*/
    margin: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.right-content .Chat {
    float: left;
    margin-left: 20px;
    color: var(--bluegray);
}

.right-content .hide {
    float: right;
    padding: 20px 20px;
}

.right-content .kirim button {
    float: right;
    width: 15%;
    margin-right: 3%;
    color: white;
    border-style: none;
    border-radius: 10px;
    background-color: var(--darkblue);
}

.right-content .garis .garis-1 {
    width: 410px;
    height: 1px;
    border-style: none;
    background-color: black;
}

.right-content .garis .garis-2 {
    width: 410px;
    height: 1px;
    margin-top: 67%;
    border-style: none;
    background-color: black;
}

.left-content {
    float: left;
    background-color: var(--blue);
    padding: 100px;
    margin: 50px;
    height: 220px;
    width: 30%;
    border-radius: 10px;
    border-width: 1px;
    display: flex;
}

.left-content .item1>div {
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 100px;
    color: var(--darkblue);
    font-weight: bold;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 70px;
}

.left-content .item2>div {
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 100px;
    color: var(--darkblue);
    font-weight: bold;
    flex-direction: column;
    margin-right: 70px;
    margin-left: 15px;
}

/* Discussion end */

/* @media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
} */